

#imagesDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* flex-wrap: wrap; */
    gap: 2rem;

    width: 80vw;
    margin-top: 8rem;
}

.imgDiv {
    background-color: #46464666;

    position: relative;

    max-width: 80vw;
    height: min-content;
    border-radius: .3rem;
}

.imgDiv img {
    width: 15rem;
}

.imgDiv p {
    color: #fff;

    padding-bottom: .4rem;
    margin: 0;
    margin-left: 1rem;
}

.removeImageButton {
    background: rgb(255, 0, 0);

    cursor: pointer;

    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    top: 0;
    right: 0;

    width: max-content; 
    height: max-content;
    padding: 0 0 1rem 1rem;
    border-bottom-left-radius: 7.5rem;
}

.removeImageButton img { 
    /* background-color: blue; */
    width: min-content;
    height: 2.5rem;
    padding: .3rem;
}