footer {
    color: #fff;

    font-size: 1.1rem;

    position: absolute;
    bottom: 0;

    text-align: center;
}
footer * {
    font-family: "Kode Mono";
}
  
.hiddenLink {
    text-decoration: none; /* Remove underline */
    color: #ffffff; /* Change link color */
}

.pixelnheart {
    height: 1rem;

    vertical-align: middle; /* Adjust alignment as needed */
}

.pixelnheart:hover {
    transform: rotate(360deg);
    transition: transform 0.5s; /* Add a transition for a smooth effect */
}

.goken {
    color: var(--contrast-color);
}

.goken:hover {
    color: rgb(108, 245, 255);
}
