
body {
    background: var(--backgroundColor);
}

#imageCarousel {
    filter: invert(.5);
    min-height: 50vh;
    max-width: 80vw;
    max-height: 90vh;
}

#optionsMenu {
    transition: all 2s ease;
}

#optionsMenu:hover, #settingsDiv:hover {
    opacity: 1;

    transition: all .5s ease;
}

.settingsDiv {
    background: inherit;
    color: #fff;

    display: flex;
    flex-direction: column;
    align-items: flex-start;

    position: absolute;
    right: 0rem;
    bottom: 0rem;   

    width: max-content;
    padding: 1rem 2rem 2rem 1rem;
    outline: .1rem solid var(--borderColor);
    transition: all .5s ease;
}

.settingsDiv>div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;

    width: 100%;
}

.settingsDiv>div>div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

#settingsDiv input {
    width: 3rem;
    height: 1.5rem;
}

.settingsDiv .inputDiv {
    font-size: .9rem;

    display: flex;
    flex-direction: row;
    align-items: end;
    justify-content: space-between;
    gap: .3rem;
}

.settingsDiv .inputDiv label {
    margin-bottom: .1rem;

}

/* .hubbenrattanIntervalDiv {
    border-bottom: 2px solid rgba(124, 124, 124, 0.578);
} */



/*  ============== EASTER EGG STYLES ===================== */

.easterEgg {
    /* background: red; */

    position: absolute;
    bottom: 7%;
    left: 7%;

    width: auto;
    height: auto;
}

.easterEgg img {
    height: 3rem;
}

.speech-bubble {
    position: absolute;
    background-color: #ffffff;
    color: #000;
    border: 1px solid #000000;
    padding: 10px;
    border-radius: 10px;
    width: max-content;
    max-width: 22rem;
    z-index: 1;
    top: -2rem; /* Adjust positioning to place the speech bubble above the character */
    left: 3rem; /* Adjust positioning to place the speech bubble near the character */
}
