
#imageCarousel {
    min-height: 50vh;
    max-width: 80vw;
    max-height: 90vh;
}

#optionsMenu {
    transition: all 2s ease;
}

#optionsMenu:hover, #settingsDiv:hover {
    opacity: 1;

    transition: all .5s ease;
}

#settingsDiv {
    background: inherit;
    color: #fff;

    display: flex;
    flex-direction: column;
    align-items: flex-end;

    position: absolute;
    right: 2rem;
    bottom: 2rem;   

    transition: all .5s ease;
}

#settingsDiv input {
    width: 3rem;
    height: 1.5rem;
}

.inputIntervalDiv {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: .5rem
}

#settingsDiv .inputDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1rem;
}




.easterEgg {
    /* background: red; */

    position: absolute;
    bottom: 7%;
    left: 7%;

    width: auto;
    height: auto;
}

.easterEgg img {
    height: 3rem;
}

.speech-bubble {
    position: absolute;
    background-color: #ffffff;
    color: #000;
    border: 1px solid #000000;
    padding: 10px;
    border-radius: 10px;
    width: max-content;
    max-width: 22rem;
    z-index: 1;
    top: -2rem; /* Adjust positioning to place the speech bubble above the character */
    left: 3rem; /* Adjust positioning to place the speech bubble near the character */
}
