
.allPeopleDiv {
    margin-top: 4rem;
}

h1 {
    text-align: center;
}

#peopleList {
    display: flex;
    flex-direction: column;
    gap: 2rem;

}
.personDiv {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 3rem;

    overflow: hidden;

    height: 3rem;
    padding: .5rem;
    padding-inline: 1rem;
    outline: #fff solid 1px;
    border-radius: .2rem;

}

.personDiv input {
    background: var(--lighterBackgroundColor);
    color: #fff;

    font-family: "Kode Mono";

    width: 30%; 
    padding-left: .35rem;
    border: none;
    border-radius: .2rem;
    margin: 0;
}

.personDiv .updateButton:active {
    background-color: #02601e;
}

.personDiv .password {
    color: var(--lighterBackgroundColor);
}

.personDiv .password:hover, .personDiv .password:focus {
    color: var(--textColor);
}

.addPersonDiv {
    margin-top: 2rem;
}



@media screen and (max-width: 550px){
    .allPeopleDiv {
        margin-top: 6rem;
    }
}