
.mainDiv {
    background: var(--backgroundColor);

    overflow: hidden;

    display: flex;
    flex-direction: column;
    align-items: center;

    position: relative;

    padding: 2rem;
    padding-top: 4rem;
    outline: 3px solid var(--borderColor);
    border-radius: 1rem;
    margin-top: 4rem;
}

.mainDiv h1 {
    margin-top: 0;
}

.mainDiv form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: .5rem;

    width: 259px;
}


/* ------ UPLOAD INPUT DIV ------ */



.uploadImagePreview {
    font-family: Arial, sans-serif;

    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1.3rem;


    outline: 1px solid var(--borderColor);

    border-radius: 10rem .1rem .10rem 10rem;
}

.imagePreview {
    background: var(--inputBackgroundColor);

    height: 2rem;
    width: auto;
    border-radius: .1rem;
    outline: 1px solid var(--borderColor);

    transition: all .3s ease-in-out;
}

.imagePreview:hover {
    background: var(--inputHoverColor);

    border-radius: 100%;

    transform: rotate(360deg);
    transition: all .3s linear;
}

.uploadInputDiv {
    margin-bottom: 1rem;
}

.uploadInputDiv p {
    word-break: break-all;

    margin: 0;
}


