
.mainDiv {
    /* background: #151515; */
    color: #fff;

    overflow: hidden;

    display: flex;
    flex-direction: column;
    align-items: center;

    position: relative;

    padding: 2rem;
    padding-top: 4rem;
    outline: 3px solid #fff;
    border-radius: 1rem;
}

.mainDiv h1 {
    margin-top: 0;
}

.mainDiv form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: .5rem;
}

.notification {
    background: #189618;
    color: #fff;

    text-align: center;

    overflow: hidden;

    position: absolute;
    top: -5rem;

    width: 80%;
    max-width: 80%;
    height: 3rem;
    margin: 0;

    transition: all .5s ease-in-out;
}

.activeNotification {
    top: 0rem;
    transition: all .5s ease-in-out;
}